.beer-show header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beer-show-label {
    width: 120px;
    padding: 1vw;
}

.beer-show-review-container {
    width: 90%;
}