.login-signup {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    background-color: transparent;
    height: 50px;
    padding: 20px;
    z-index: 5;
    width: 100%;
    right: 1%;
}

.header-button:hover, .app-callout button:hover{
    background-color: white;
    color: black; 
    transition: .5s;
}

.header-button, .app-callout button, .brewery-callout button{
    border-radius: 4px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-right: 15px;
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.blackout {
    height: 100%;
    align-self: left;
    width: 50%;
    background-color: black;
    z-index: 4;
}

.error {
    position: relative;
    /* align-self: center; */
    text-align: center;
    background-color: #e25858;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.error-box {
    height: 14px;
    padding: 3px 0;
}